@font-face {
  font-family: 'np_naipol_b';
  src: url('/assets/fonts/np naipol all in one_b.eot');
  src: url('/assets/fonts/np naipol all in one_b.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/np naipol all in one_b.woff') format('woff'),
       url('/assets/fonts/np naipol all in one_b.ttf') format('truetype'),
       url('/assets/fonts/np naipol all in one_b.svg#fp-20698') format('svg');
} 

.img-br-logo {
	max-width: 1.7em;
	max-height: 1.7em;
	margin: -0.4em 0.2em 0.0em 0.4em;
}

.toplogo {
  font-family: np_naipol_b, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
}

.logo {
	font-family: np_naipol_b, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 1.1em;
}

.robotics {
    color: black;
}

.blue {
    color:rgb(38,153,208);    
}
